<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Data Save Example</title>
</head>
<body>

<b> Total <span th:text="${noOfRecords}">noOfRecords</span> records uploaded !</b>
</body>
</html>