<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>File Upload Page</title>
</head>

<body>
<h2>File Upload & Data Save Page</h2>

<form action="uploadFile" enctype="multipart/form-data" method="POST">
    <br/> <br/>
    Please select a file to upload :
    <input name="file" type="file" value="Browse File"/> <br/> <br/>
    Press here to upload the file :
    <input type="submit" value="upload"/> <br/> <br/>

    <h4 style="color: green" th:text="${message}">${message}</h4> <br/>

    Do you want to save excel data into database ? <a href="saveData"><b>Yes</b></a> &nbsp &nbsp <a
        href="/"><b>No</b></a>
</form>
</body>
</html>